<div class="offset1">
	<%= form_for(:session, url: session_path) do |form| %>
	<div>
		<%= form.text_field :email, placeholder: "Email" %>
	</div>
	<%= form.submit "Sign in", class: "btn btn-primary" %>
	<% end %>
</div>