 <div class="jumbotron">
    <h1>Go ahead, learn something!</h1>
    <p class="lead">Flashy is the easy way to quiz yourself using flashcards.</p>
		<% if signed_in? %>
			<% content_for :nav do %>
			<li class=""><%= link_to "My decks", decks_path %></li>
			<% end %>
		<a class="btn btn-large btn-success" href="<%= decks_path %>">View your decks</a>
		<% else %>
    <a class="btn btn-large btn-info" href="<%= signin_path("twitter") %>">Login with Twitter</a>
		<a class="btn btn-large btn-primary" href="<%= signin_path("facebook") %>">Login with Facebook</a>
		<% end %>
 </div>
