 <div class="jumbotron">
    <h1 class="offset4">It's time to learn.</h1>
    <p class="lead offset3">Flashy is the easy way to quiz yourself using flashcards.</p>
		<% if signed_in? %>
		<a class="btn btn-large btn-success offset5" href="<%= decks_path %>">View your decks</a>
		<% else %>
    <a class="btn btn-large btn-success offset5" href="<%= new_user_path %>">Sign up today</a>
		<% end %>
 </div>
