<div class="offset1">
	<%= form_for(@deck) do |form| %>
		<div>
			<%= form.text_field :name, placeholder: "Name" %>
		</div>
		<%= form.submit "Update deck", class: "btn-primary" %>
	<% end %>
</div>