<%= link_to "Decks", decks_path %>
<h2><%= @deck.name %></h2>
<%= link_to "Add card", new_deck_card_path(@deck) %><br>
<% @cards.each do |card| %>
	<div>
		<%= link_to card.front, [@deck, card] %>
	</div>
<% end %>